# Node modules
node_modules/

# Coverage directories and files
coverage/
backend/coverage/
coverage/**/*.html
backend/coverage/**/*.html

# Build directories and files
dist/
build/

# Logs
*.log

# Backup files
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Ignore .env file
.env

# Ignore Python bytecode cache and virtual environment directories
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
ENV/
ve/
virtualenv/

# IDE-specific files
.vscode/
.idea/
.pydevproject
.python-version

# Python cache files
__pypackages__/

# Python distribution files
*.egg-info
*.egg
*.eggs/
*.egg.tmp/

# Python compiled files
*.pyc
*.pyo
*.pyd
*.so
*.pyc

# pytest
.pytest_cache
.tox/

# Jupyter Notebook
.ipynb_checkpoints/

# Lock files
pnpm-lock.yaml
pnpm-lock.yaml.bak

# NPM configuration file (only if it's meant to be local)
.npmrc