# Node modules
node_modules/

# Coverage directories and files
coverage/
backend/coverage/
coverage/**/*.html
backend/coverage/**/*.html

# Build directories and files
dist/
build/

# Logs
*.log

# Backup files
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Ignore .env file
.env

# Ignore Python bytecode cache and virtual environment directories
__pycache__/
*.py[cod]
language-plugins/python/venv/
new_venv/
venv/
.pytest_cache/

# Lock files
pnpm-lock.yaml
pnpm-lock.yaml.bak
