# Ignore common non-Python directories and files
node_modules/* linguist-vendored
dist/* linguist-vendored
*.js linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.json linguist-vendored
*.ts linguist-vendored
*.jsx linguist-vendored
*.tsx linguist-vendored
*.svg linguist-vendored
*.md linguist-vendored
