# Node and package files
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build artifacts
dist/

coverage/
build/
.nyc_output/

# Logs and reports
*.log
reports/
**/*.html
**/*.xml
**/lcov*

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test and development files
tests/
**/__tests__/
**/*.test.*
**/*.spec.*

# Unnecessary files in root
*.bak
*.tmp,
