option_settings:
  # VPC Configuration
  aws:ec2:vpc:
    VPCId: vpc-0f3c6c193f982fabb
    AssociatePublicIpAddress: 'true'
    ELBScheme: 'public'
    ELBSubnets: 'subnet-0a4f64d476bff9eeb,subnet-080d7a5f4fe7adccc,subnet-00bc1c9b21f70aced,subnet-024864f3265e28790'
    Subnets: 'subnet-0a4f64d476bff9eeb,subnet-080d7a5f4fe7adccc,subnet-00bc1c9b21f70aced,subnet-024864f3265e28790'

  # Load Balancer Configuration
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    LoadBalancerIsShared: 'false'

  # Tags
  aws:elasticbeanstalk:environment:
    Tags:
      Environment: production
      Project: bleujs
      Service: api
      ManagedBy: elasticbeanstalk
